<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>share my wishlist!</title>
    <style>
        /* Add your styles here */
    </style>
</head>
<body>
    <h1>share my wishlist!</h1>
    <p>enter your name to begin making your very own wishlist to share with your friends!</p>

    <form action="{{ url_for('submit_owner_name') }}" method="post">
        <input type="text" id="owner_name" name="owner_name" placeholder="mimi" required>
        <label for="owner_name">'s wishlist</label>
        <button type="submit">start!</button>
    </form>
</body>

</html>
