<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>share my wishlist!</title>
    <style>
        /* Add your styles here */
    </style>
</head>
<body>
    <h1>{{ owner_name }}'s wishlist</h1>
    <p>session: {{ contributor_name }}</p>

    {% if wishlist_items %}
        <form method="post" action="{{ url_for('submit_wishlist_contributors', wishlist_uuid=wishlist_uuid) }}">
            <ul>
                {% for item in wishlist_items %}
                    <li>
                        <input type="checkbox" id="{{ item.title }}" name="wishlist_item" value="{{ item.title }}">
                        <label for="{{ item.title }}">
                            {% if item.link %}
                                <a href="{{ item.link }}">{{ item.title }}</a>
                            {% else %}
                                {{ item.title }}
                            {% endif %}
                            {% if item.contributor_name %}
                                (contributor: {{ item.contributor_name }})
                            {% endif %}
                        </label>
                    </li>
                {% endfor %}
            </ul>
            <button type="submit">submit wishlist</button>
        </form>
    {% else %}
        <p>no items in this list.</p>
    {% endif %}

</body>
</html>
